<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" href="/images/logo-icon.png" />

  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/animations.css" />
  <link rel="stylesheet" href="/css/page-landing.css" />

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">

  <title>Happy</title>
</head>

<body id="body">
  <div id="page-landing">
    <div id="container">
      <header>
        <img class="animate-up" id="logo" src="/images/logo.svg" alt="logomarca happy" />
        <div class="animate-up location">
          <strong>Belém</strong>
          <p>Pará, Brasil</p>
        </div>
      </header>
      <main>
        <h1 class="animate-up">Leve felicidade para o mundo</h1>
        <section class="visit">
          <p class="animate-up">
            Visite um orfanato e mude a vida de uma criança
          </p>
          <a class="animate-up" href="/orphanages" title="Visite Ofarnatos">
            <img src="/images/arrow.svg" />
          </a>
        </section>
      </main>
    </div>
  </div>
</body>

</html>